.hero-img {
    height: 400px;
    width: 100%;
    background: url(../imgs/bottom-hero-mobile.png) no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 768px) {
    .hero-img {
        background: url(../imgs/bottom-hero-tablet.png) no-repeat;
        background-size: cover;
        background-position: center;
        height: 620px;
    }
}

@media screen and (min-width: 1024px) {
    .hero-img {
        background: url(../imgs/bottom-hero-desk.png) no-repeat;
        background-size: cover;
        background-position: center;
        height: 620px;
    }
}

@media screen and (min-width: 1920px) {
    .hero-img {
        background: url(../imgs/bottom-hero-desk.png) no-repeat;
        background-size: cover;
        background-position: center;
        height: 620px;
    }
}