.categories-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.card {
    background-color: var(--background-secondary-color);
    padding: 24px 16px 24px 16px;
    border-radius: 16px;
    height: 220px;
    width: 312px;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
}

.categories-cards h3 {
    color: var(--text-primary-color);
}

.categories-cards img {
    width: 80px;
    height: 80px;
}

@media screen and (min-width: 768px) {
    .categories-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    .categories-cards .card {
        width: 430px;
    }
}

@media screen and (min-width: 1440px) {
    .categories-cards .card {
        width: 280px;
    }
}